body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: black;
    text-decoration: darkred;
    text-align: right;
    margin-bottom: 50px;
    font-size: 50px;
    padding: 20px 20px 20px 0px;

}

h2 {
    color: ghostwhite;
    background-color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image{
margin: 15px 0px 15px 0px;
}
img{
    width: 200px;  
}

nav{
   background-color: darkorange;
   font-family: cursive;
padding: 0px 300px 0px 350px;

}
li{
    display: inline-block;
    padding: 10px 75px 10px 30px;
}


footer{
    text-align: center;
    color: dimgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.edupara{
    text-align: center;
}
.exppara{
    text-align: center;
}
footer{
    padding: 20px 0px 0px 0px;
}